# Images #
##########
scanning_direction_drawing.png

# Illustrator files #
#####################
scanning_direction_drawing.ai

# zip and rar files #
#####################
*.zip
*.rar

# test notebooks #
##################
*.ipynb

# misc files #
##############
*.f3z

## Directories
# Pycharm ideas
.idea/

# vscode
.vscode/
